:root {
   --primary-color: #0B806D;
   --secondary-color: #D1F2EC;

}

body {
   font-family: 'Poppins', sans-serif;
}

.logo {
   max-width: 140px; /* Tetapkan ukuran maksimum */
   min-width: 140px; /* Tetapkan ukuran minimum yang sama */
}


header h1 {
   font-size: 24px;
   font-weight: bolder;
   color: var(--primary-color);
}

header p {
   font-size: 15px;
   font-weight: bold;
   color: var(--primary-color);
}

header h3 {
   font-size: 18px;
   font-weight: bolder;
   color: var(--primary-color);
}

.btn-img {
   background-color: var(--secondary-color);
   border-radius: 20px;
   border: 4px solid var(--primary-color);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}


.btn-img:hover {
   background-color: #90ccc1;
   border: 4px solid var(--primary-color);
}

span {
   color: var(--primary-color);
   font-size: 15px;
   padding-top: 5px;
}

/* Button logout */
main #button-wrapper #logoutBtn {
   background-color: var(--primary-color);
   padding: 10px 40px;
   font-size: 18px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: 300;
   border: none;
}

main #logoutBtn i {
   padding-right: 10px;
}

main #button-wrapper #logoutBtn:hover {
   background-color: #075a4c;
   opacity: 0.9; 
}

