:root {
   --primary-color: #0B806D
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: var(--primary-color);
}

#utama {
   background-color: #fff;
   margin-top: 8%;
   border-radius: 50px 50px 0 0;
   height: 100vh;
}

.input input {
   border: 2px solid var(--primary-color);
   padding: 15px;
   border-radius: 20px;
}

.input input::placeholder {
   color: var(--primary-color);
}

.inputicon {
   position: relative;
}

.inputicon i {
   position: absolute;
   right: 25px;
   top: 30px;
   font-size: 18px;
   transform: translateY(-50%);
   cursor: pointer;
}

main #button-wrapper button {
   background-color: var(--primary-color);
   width: auto;
   height: 45px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;

}

main #button-wrapper button:hover {
   background-color: #075a4c;
   opacity: 0.9;
}

#loginBtnByGoogle {
   background: none;
   border: 2px solid rgb(193, 193, 193);
   border-radius: 20px;
   padding: 10px;
   background-color: #f3f3f3;
   text-decoration: none;
   font: inherit;
   cursor: pointer;
   color: rgb(255, 91, 91);
   /* You can customize the color */
}

#loginBtnByGoogle img {
   vertical-align: middle;
   margin-right: 5px;
   /* Adjust the margin as needed */
}

#btnModalCreatPwd {
   background-color: var(--primary-color);
   width: 200px;
   height: 45px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

.divider hr {
   border: 0;
   height: 2px;
   background-color: #000;
   /* Anda dapat mengganti warna latar belakang sesuai keinginan Anda */
   margin: 0;
}

.divider p {
   font-weight: bold;
   color: #8d8b8b;
}

