:root {
   --primary-color: #0B806D
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: #fefefe;
   margin: 0;
   padding: 0;
}

.card {
   border: none;
   border-radius: 20px;
   box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}

h3 {
   font-weight: bolder;
}

.form-floating input[type="password"] {
   border-radius: 20px;
}

.input input {
   border: 2px solid var(--primary-color);
   border-radius: 20px;
}

.input input::placeholder {
   color: var(--primary-color);
}

label {
   color: var(--primary-color);
}

.inputicon {
   position: relative;
}

.inputicon i {
   position: absolute;
   right: 25px;
   top: 30px;
   font-size: 18px;
   transform: translateY(-50%);
   cursor: pointer;
}


#ubahPwdBtn {
   background-color: var(--primary-color);
   width: 300px;
   height: 50px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

#ubahPwdBtn:hover {
   background-color: #075a4c;
   opacity: 0.9;
}
