:root {
   --primary-color: #0B806D;
   --bs-table-striped-bg: blue;
}

body {
   font-family: 'Poppins', sans-serif;
}

header .background-top {
   background-color: var(--primary-color);
}

header .background-top h1 {
   font-size: 18pt;
   color: #fff;
   font-weight: bolder;
}

header .background-top .separator-1 {
   display: block;
   margin: 10px auto;
   width: 80%;
   height: 1px;
   background-color: #fff;
}

header .background-top .separator-2 {
   display: block;
   margin: 10px auto;
   width: 60%;
   height: 1px;
   background-color: #fff;
}

.card {
   box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
   border-radius: 20px;
   border-top: 5px solid var(--primary-color);
}

#btnTambahModal {
   background-color: var(--primary-color);
   border: none;
   font-size: 14px;
   text-decoration: none;
   color: #fff;
   font-weight: 600;
   padding: 10px;
   border-radius: 10px;
}

#btnTambah a:hover {
   background-color: #075a4c;
   opacity: 0.9;
}

/* Search */
.search-container {
   display: flex;
   align-items: center;
   position: relative;
}

.input-search {
   width: 100%;
   padding: 10px 10px 10px 40px;
   font-size: 15px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

.input-search::placeholder {
   color: #9e9ea7;
}

.form-control:focus,
.form-control:hover {
   border: 1.5px solid #0B806D;
   box-shadow: 0 0 0 4px rgba(21, 244, 88, 0.1);
}

.icon {
   position: absolute;
   left: 1rem;
   fill: #000000;
   width: 1rem;
   height: 1rem;
}

.btnEdit,
.btnDelete {
   border: 2px solid var(--primary-color);
   padding: 5px 20px;
   margin: 0 2px;
   border-radius: 5px;
   background-color: transparent;
}

.btnEdit:hover,
.btnDelete:hover {
   border: 2px solid var(--primary-color);
   background-color: var(--primary-color);
}

.btnEdit i,
.btnDelete i {
   color: var(--primary-color);
}

.btnEdit:hover i,
.btnDelete:hover i {
   color: #fff;
}

/* Table  */
table thead {
   align-items: center;
   text-align: center;
   height: 50px;
   --bs-table-bg: var(--primary-color);
   --bs-table-color: #fff;
}

table thead tr th {
   border: 1px solid black;
}

tbody tr {
   border: 1px solid black;
}

.table-striped tbody {
   --bs-table-striped-bg: #0785702d;
}

.pageBtn {
   background-color: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   padding: 8px 12px;
   margin: 0 2px;
}

.pageBtn:hover {
   background-color: var(--primary-color);
   color: #fff;
}

.activePage {
   background-color: var(--primary-color);
   color: #fff;
}

#nextPageButton,
#prevPageButton,
#firstPageButton,
#lastPageButton {
   margin: 0 2px;
   border: 1px solid var(--primary-color);
}

#nextPageButton {
   border-radius: 0 5px 5px 0;
}

#prevPageButton {
   border-radius: 5px 0 0 5px;
}

#rowsPerPageDropdown {
   width: 70px;
   height: 40px;
   border: 1px solid var(--primary-color);
}

#nextPageButton span,
#prevPageButton span,
#firstPageButton span,
#lastPageButton span {
   color: var(--primary-color);
}

/* modal tambah bahan baku */
.input input {
   border: 2px solid var(--primary-color);
   border-radius: 20px;
}

.input input::placeholder {
   color: var(--primary-color);
}

.input label {
   color: var(--primary-color);
}

#btnTambahStok {
   background-color: var(--primary-color);
   border: none;
   font-size: 14px;
   text-decoration: none;
   color: #fff;
   font-weight: 600;
   padding: 12px 120px;
   border-radius: 10px;
}

#btnEdit {
   background-color: var(--primary-color);
   border: none;
   font-size: 14px;
   text-decoration: none;
   color: #fff;
   font-weight: 600;
   padding: 10px 120px;
   border-radius: 10px;
}

main #cancelButton {
   background-color: var(--primary-color);
   padding: 8px 40px;
   margin: 0 5px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #cancelButton:hover {
   background-color: #075a4c;
   opacity: 0.9;
}