:root {
   --primary-color: #0B806D;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Button Kembali */
main #button-wrapper button {
   background-color: var(--primary-color);
   padding: 8px 40px;
   margin: 0 5px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #button-wrapper button:hover {
   background-color: #075a4c;
   opacity: 0.9; 
}