:root {
   --primary-color: #0B806D;
   --bs-table-striped-bg: blue;
}

body {
   font-family: 'Poppins', sans-serif;
}

header .background-top {
   background-color: var(--primary-color);
}

header .background-top h1 {
   font-size: 18pt;
   color: #fff;
   font-weight: bolder;
}

header .background-top .separator-1 {
   display: block;
   margin: 10px auto;
   width: 80%;
   height: 1px;
   background-color: #fff;
}

header .background-top .separator-2 {
   display: block;
   margin: 10px auto;
   width: 60%;
   height: 1px;
   background-color: #fff;
}

.card {
   box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
   border-radius: 20px;
   border-top: 5px solid var(--primary-color);
}


#btnTambahTransaksi {
   background-color: var(--primary-color);
   border: none;
   font-size: 14px;
   text-decoration: none;
   color: #fff;
   font-weight: 600;
   padding: 10px;
   border-radius: 10px;
}

#exportToExcelButton {
   padding: 8px;
   font-size: 14px;
   font-weight: 600;
   color: var(--primary-color);
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   background-color: #fdfdfd;
}

#exportToExcelButton:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#refreshDate {
   text-decoration: none;
   font-weight: 600;
   color: var(--primary-color);
}

/* inpput selector */
#dateStart, #dateEnd {
   padding: 12px 10px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

#dateStart:focus, #dateEnd:focus {
  border: 1px solid var(--primary-color);
}

.search-container {
   display: flex;
   align-items: center;
   position: relative;
}

.input-search {
   width: 100%;
   padding: 10px 10px 10px 40px;
   font-size: 15px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

#jenisTransaksi {
   width: 100%;
   font-size: 15px;
   padding: 11px 8px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

#jenisTransaksi:focus  {
   border: 1.5px solid #0B806D;
   box-shadow: 0 0 0 4px rgba(21, 244, 88, 0.1);
}

.input-search::placeholder {
   color: #9e9ea7;
}

.form-control:focus,
.form-control:hover {
   border: 1.5px solid #0B806D;
   box-shadow: 0 0 0 4px rgba(21, 244, 88, 0.1);
}

.icon {
   position: absolute;
   left: 1rem;
   fill: #000000;
   width: 1rem;
   height: 1rem;
}

/* Table  */
table thead {
   height: 60px;
   --bs-table-bg: var(--primary-color);
   --bs-table-color: #fff;
   text-align: center;
}

table tfoot {
   height: 40px;
   border: 1px solid black;
   --bs-table-bg: #0b8a75;
   --bs-table-color: #fff;
   text-align: center;
}

table thead tr th {
   border: 1px solid black;
   vertical-align: middle;
}

tbody tr {
   border: 1px solid black;
   height: 60px;
   vertical-align: middle;
}

.table-striped tbody {
   --bs-table-striped-bg: #0785702d;
}

.pageBtn {
   background-color: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   padding: 8px 12px;
   margin: 0 2px;
}

.pageBtn:hover {
   background-color: var(--primary-color);
   color: #fff;
}

.activePage {
   background-color: var(--primary-color);
   color: #fff;
}

#nextPageButton,
#prevPageButton,#firstPageButton, #lastPageButton {
   margin: 0 2px;
   border: 1px solid var(--primary-color);
}

#nextPageButton {
   border-radius: 0 5px 5px 0;
}
#prevPageButton {
   border-radius: 5px 0 0 5px;
}

#rowsPerPageDropdown {
   width: 70px;
   height: 40px;
   border: 1px solid var(--primary-color);
}

#nextPageButton span,
#prevPageButton span,
#firstPageButton span,
#lastPageButton span {
   color: var(--primary-color);
}

/* Add the following CSS rules for smaller screens */
@media (max-width: 767px) {

   .table-responsive-md .table tbody tr td {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .table-responsive-md .table thead tr th {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .table-responsive-md .table tfoot tr th {
      max-width: 500px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}



