:root {
   --primary-color: #0B806D;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Bagian Atas Halaman */
header .background-top {
   background-color: var(--primary-color);
   border-bottom-right-radius: 10%;
   border-bottom-left-radius: 10%;
}

header h1 {
   font-weight: bolder;
   color: #fff;
   font-size: 28px;
}

header p {
   font-weight: bolder;
   color: #fff;
   font-size: 18px;
}

#laporan-labarugi-bersih-card {
   margin-top: -90px; /* Sesuaikan ini sesuai kebutuhan */
   border-radius: 20px;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.50);
}
