:root {
   --primary-color: #0B806D;
   --bs-table-striped-bg: blue;
}

body {
   font-family: 'Poppins', sans-serif;
}

header .background-top {
   background-color: var(--primary-color);
   border-radius: 0 0 20px 20px;
}

header .background-top h1 {
   font-size: 28px;
   color: #fff;
   font-weight: bolder;
}

main h3 {
   font-size: 17px;
   color: var(--primary-color);
   font-weight: 600;
}

#radio-btn-laba-rugi label {
   color: var(--primary-color);
   font-weight: bold;
   font-size: 18px;
}

input[type="radio"] {
   background-color: transparent;
   outline: 2px solid var(--primary-color);
}

main form h3 {
   color: var(--primary-color);
}

input[type="radio"]:checked {
   background-color: var(--primary-color);
   outline: 2px solid var(--primary-color);
   box-shadow: none;
}

