:root {
  --primary-color: #0b806d;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Bagian Atas Halaman */
header .background-top {
  background-color: var(--primary-color);
  border-radius: 0 0 50px 50px;
  padding-top: 100px;
}

.row .logo {
  text-align: center;
  margin-top: -50px;
}
h1 {
  font-weight: bold;
}
#btn-tambahstok button{
   padding: 6px 10px;
   font-weight: bold;
   color: white;
   border: none; /* Menghilangkan border */
   border-radius: 20px;
   background-color: var(--primary-color);
}
.form-control{
   border: none;
    border-bottom: 1px solid var(--primary-color); /* Warna dan ketebalan garis dapat disesuaikan */
    outline: none; 
   
}

 
main .button-tambah-modal a {
   background-color: var(--primary-color);
   font-size: 14px;
   text-decoration: none;
   color: #fff;
   font-weight: 600;
   padding: 10px 15px;
   border-radius: 40px;
}

main .button-tambah-modal a:hover {
   background-color: #075a4c;
   opacity: 0.9;
}
