:root {
   --primary-color: #0B806D
}

body {

   font-family: 'Poppins', sans-serif;
   background-color: var(--primary-color);
}

#utama {
   background-color: #fff;
   margin-top: 10%;
   padding-bottom: 10vh;
   border-radius: 150px 150px 0 0;
}

.input input {
   border: 2px solid var(--primary-color);
   padding: 20px;
   border-radius: 20px;
}

.input input::placeholder {
   color: var(--primary-color);
}


.inputicon {
   position: relative;
}

.inputicon i {
   position: absolute;
   right: 40px;
   /* Sesuaikan dengan jarak ikon dari kanan */
   top: 50%;
   font-size: 25px;
   transform: translateY(-50%);
   cursor: pointer;
}

main #button-wrapper button {
   background-color: var(--primary-color);
   width: 150px;
   height: 45px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #button-wrapper button:hover {
   background-color: #075a4c;
   opacity: 0.9; 
}

.divider hr {
   border: 0;
   height: 2px;
   background-color: #000; /* Anda dapat mengganti warna latar belakang sesuai keinginan Anda */
   margin: 0;
}

.divider p {
   font-weight: bold;
   color: #8d8b8b;
}

main #button-wrapper a {
   background-color: var(--primary-color);
   padding: 15px 40px;
   margin: 0 5px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #button-wrapper a:hover {
   background-color: #075a4c;
   opacity: 0.9; 
}