:root {
   --primary-color: #0B806D;
   --bs-table-striped-bg: blue;
}

body {
   font-family: 'Poppins', sans-serif;
}

header .background-top {
   background-color: var(--primary-color);
}

header .background-top h1 {
   font-size: 18pt;
   color: #fff;
   font-weight: bolder;
}

header .background-top .separator-1 {
   display: block;
   margin: 10px auto;
   width: 80%;
   height: 1px;
   background-color: #fff;
}

header .background-top .separator-2 {
   display: block;
   margin: 10px auto;
   width: 60%;
   height: 1px;
   background-color: #fff;
}

.card {
   box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
   border-radius: 20px;
   border-top: 5px solid var(--primary-color);
}


#exportToExcelButton {
   padding: 8px;
   font-size: 14px;
   font-weight: 600;
   color: var(--primary-color);
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   background-color: #fdfdfd;
}

#exportToExcelButton:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#checkLporanRekap {
   border: 2px solid var(--primary-color);
   width: 20px;
   height: 20px;
}

#checkLporanRekap:checked {
   background-color: var(--primary-color);
   box-shadow: none;
}

.form-check label {
   font-size: 17px;
   font-weight: bold;
}

#btnRekapLaporan {
   padding: 8px 8px;
   font-weight: 500;
   color: #fdfdfd;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   border: none;
   border-radius: 11px;
   background-color: var(--primary-color);
}

#showDataWithDate {
   padding: 5px;
   font-size: 14px;
   font-weight: 600;
   color: var(--primary-color);
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   background-color: #fdfdfd;
}

#showDataWithDate:hover {
   background-color: var(--primary-color);
   color: #fff;
}

/* input selector */
#dateStart,
#dateEnd {
   padding: 12px 10px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

#dateStart:focus,
#dateEnd:focus {
   border: 1px solid var(--primary-color);
}

.search-container {
   display: flex;
   align-items: center;
   position: relative;
}

.input-search {
   width: 100%;
   padding: 10px 10px 10px 40px;
   font-size: 15px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

.input-search::placeholder {
   color: #9e9ea7;
}

.form-control:focus,
.form-control:hover {
   border: 1.5px solid #0B806D;
   box-shadow: 0 0 0 4px rgba(21, 244, 88, 0.1);
}

.icon {
   position: absolute;
   left: 1rem;
   fill: #000000;
   width: 1rem;
   height: 1rem;
}


/* Table  */
table thead {
   height: 60px;
   --bs-table-bg: var(--primary-color);
   --bs-table-color: #fff;
   text-align: center;
}

table thead tr th {
   border: 1px solid black;
   vertical-align: middle;
}

tbody tr {
   border: 1px solid black;
   height: 60px;
   vertical-align: middle;
}

th label {
   display: flex;
   align-items: center;
}

th label input {
   margin-right: 5px; 
}

.table-striped tbody {
   --bs-table-striped-bg: #0785702d;
}

.btnDetail {
   border: 2px solid var(--primary-color);
   color: var(--primary-color);
   font-weight: 600;
   padding: 5px 20px;
   margin: 0 2px;
   border-radius: 5px;
   background-color: transparent;
}

.btnDetail:hover {
   border: 2px solid var(--primary-color);
   background-color: var(--primary-color);
   color: #fff;
}

.checkBoxTbl {
   border: 2px solid var(--primary-color);
}

.checkBoxTbl:checked {
   background-color: var(--primary-color);
   box-shadow: none;
}

.pageBtn {
   background-color: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   padding: 8px 12px;
   margin: 0 2px;
}

.pageBtn:hover {
   background-color: var(--primary-color);
   color: #fff;
}

.activePage {
   background-color: var(--primary-color);
   color: #fff;
}

#nextPageButton,
#prevPageButton,
#firstPageButton,
#lastPageButton {
   margin: 0 2px;
   border: 1px solid var(--primary-color);
}

#nextPageButton {
   border-radius: 0 5px 5px 0;
}

#prevPageButton {
   border-radius: 5px 0 0 5px;
}

#rowsPerPageDropdown {
   width: 70px;
   height: 40px;
   border: 1px solid var(--primary-color);
}

#nextPageButton span,
#prevPageButton span,
#firstPageButton span,
#lastPageButton span {
   color: var(--primary-color);
}

main #cancelButton {
   background-color: var(--primary-color);
   padding: 8px 40px;
   margin: 0 5px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #cancelButton:hover {
   background-color: #075a4c;
   opacity: 0.9;
}

#selectMonth {
   width: 100%;
   font-size: 15px;
   padding: 12px 8px;
   margin-left: -20px;
   border: 1px solid #222;
   border-radius: 10px;
   transition: .3s ease;
}

#selectMonth:focus  {
   border: 1.5px solid #0B806D;
   box-shadow: 0 0 0 4px rgba(21, 244, 88, 0.1);
}

/* Add the following CSS rules for smaller screens */
@media (max-width: 767px) {

   .table-responsive-md .table tbody tr td {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .table-responsive-md .table thead tr th {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

}