:root {
   --primary-color: #0B806D;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Bagian Atas Halaman */
header .background-top {
   background-color: var(--primary-color);
   border-bottom-right-radius: 10%;
   border-bottom-left-radius: 10%;
}

header h1 {
   font-weight: bolder;
   color: #fff;
   font-size: 28px;
}

header p {
   font-weight: bolder;
   color: #fff;
   font-size: 18px;
}

#laporan-labarugi-bersih-card {
   margin-top: -90px;
   /* Sesuaikan ini sesuai kebutuhan */
   border-radius: 20px;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.50);
}

main #cancelButton {
   background-color: var(--primary-color);
   padding: 8px 40px;
   margin: 0 5px;
   border-radius: 20px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

main #cancelButton:hover {
   background-color: #075a4c;
   opacity: 0.9;
}