:root {
  --primary-color: #0b806d;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Bagian Atas Halaman */
header .background-top {
  background-color: var(--primary-color);
  border-radius: 0 0 50px 50px;
  padding-top: 120px;
}

.row .logo {
  text-align: center;
  margin-top: -80px;
}

.wellcome-text p{
  color: #222;
  font-weight: bold;
}

.btn-masuk {
  /* width: 150px;
    height: 50px; */
  background-color: #0b806d;
  border-radius: 10px;
  text-align: center;
  /* margin-left: 290px; */
}

.btn-masuk a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

.btn-masuk:hover {
  background-color: #075a4c;
  opacity: 0.9; 
}
