:root {
   --primary-color: #0B806D
}

body {
   font-family: 'Poppins', sans-serif;
}

header .background-top {
   background-color: var(--primary-color);
}

header .background-top h1 {
   font-size: 18pt;
   color: #fff;
   font-weight: bolder;
}

header .background-top .separator-1 {
   display: block;
   margin: 10px auto;
   width: 80%;
   height: 1px;
   background-color: #fff;
}

header .background-top .separator-2 {
   display: block;
   margin: 10px auto;
   width: 60%;
   height: 1px;
   background-color: #fff;
}

/* form input */
main .form-pemasukan {
   background-color: var(--primary-color);
   border-radius: 20px;
   font-weight: 600;
}

main .form-pemasukan .form-label {
   color: #fff;
   font-size: 18px;
}

/* input tanggal */
#tanggal {
   height: 45px;
}

/* inout dropdown */
main #dorpdown-bahan-stok {
   display: none;
   width: 203px;
   height: 35px;
}

/* input Checkbox */
main .form-check {
   display: flex;
   align-items: center;
   margin-left: -10px;
}

main .form-check #checkbox-bahan-stok {
   width: 18px; 
   height: 18px; 
}

main .form-check .checkbox-label {
   color: #fff;
   font-weight: 200;
}

/* Input Textarea */
main textarea {
   overflow-y: auto; 
   resize: none; 
   scrollbar-width: thin; 
   scrollbar-color: var(--primary-color);
}

/* Input Radio Button */
main .radio-button #label-radio-btn-penjualan, #label-radio-btn-non-penjualan {
   color: #fff;
   font-weight: 200;
}

input[type="radio"], input[type="radio"]:checked  {
   background-color: transparent;
   width: 20px;
   height: 20px;
}

input[type="radio"]:valid {
   outline: 1px solid #fff; 
 }

 /* Input Pemasukan Jumlah */
#input-pemasukan {
   height: 50px;
}

#input-pemasukan::placeholder {
   color: #a9a9a9; /* Warna teks saat input kosong */
}

.invalid-feedback {
   font-weight: 500;
   color: #ff9b9b;
}
